* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #1173d4;
    --primary-dark:#0a3d66;
    --primary-hover: #0d6ba8;
    --background: #101922;
    --text-primary: #ffffff;
    --text-secondary: #cdb5e1;
    --text-muted: #94a3b8;
    --boder: rgba(255,255,255, 0.1);
    --card-bg: #1e293b;
    --shadow: rgba(0,0,0,0.3);
    --input-bg: #1e293b;
    

}

body {
    font-family: sans-serif;
    background-color: aliceblue;
    min-height: 100vh;

}